#content
  %h1 Lista de Administradores
  %table{:align => 'center'}
    %tr
      %th Nome
      %th Senha
      %th Administrador
      %th{:colspan => '3'} Opções
    - @people.each do |person|
      %tr
        %td= person.name
        %td *****************
        %td= person.admin
        %td= link_to 'Detalhes', person
        %td= link_to 'Editar', edit_person_path(person)
        %td= link_to 'Apagar', person, method: :delete, data: { confirm: 'Tem certeza?' }
    %hr
  %hr
  %h2= link_to 'Novo Administrador', new_person_path