%div#shoes_rand
  #shoes
    = mini_shoe.name
  %h2
    = link_to mini_shoe.enterprise.name, "/enterprise/#{mini_shoe.enterprise.id}"
    = image_tag(mini_shoe.image,height: 210, :class => "img")
    = simple_format(mini_shoe.audience)
    %span.shoe_value= number_to_currency(mini_shoe.value)
    %br/
    = link_to "Mais Detalhes","/shoe/#{mini_shoe.id}",class: "more_shoe_info"
    %br/
    %br/