#shoes_rand
  #shoes
    %b= releases.name
  %h2
    = link_to releases.enterprise.name, "/enterprise/#{releases.enterprise.id}"
    = image_tag(releases.image,height: 90, :class => "img")
    %br
    %span.shoe_value= number_to_currency(releases.value)
    %br/
    =link_to (image_tag("bt_comprar.gif")),"/shoe/#{releases.id}"
    %br/
    %br/