.container
  #name_page
    = render partial: 'categories', collection: @categories
  #menu_left
    #title
      Empresas
    %h3
      = render partial: 'enterprises', collection: @enterprises
    = render "menu2"
  #releases
    %h1
      = @category.name
    #center_style
      #mini_shoes
        = render partial: 'mini_shoe', collection: @shoes
  #end