.container
  #name_page
    = render partial: 'categories', collection: @categories
  #menu_left
    .title
      Empresas
    %h3
      = render partial: 'enterprises', collection: @enterprises
    = render "menu2"
  #releases
    %h1
      = @category.name
    .form
      #mini_shoes
        -if @shoes.size > 0
          = render partial: 'releases', collection: @shoes
        -else
          #Form
            %h5 Não há nenhum produto desta categoria.
  #end