%h1 Editar Dados
#form
  %p#notice= notice
  = form_for(@enterprise,:url => '/editar_empresa', :html=> {:multipart=>true}) do |f|
    - if @enterprise.errors.any?
      #error_explanation
        %h2
          = pluralize(@enterprise.errors.count, 'error')
          esta empresa não pode ser salva:
        %ul
          - @enterprise.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label 'Informação obrigatória*'
      %br/
    .field
      %b Nome*
      %br/
      = f.text_field :name
    .field
      %b Nome Social*
      %br/
      = f.text_field :name_social
    .field
      %b E-mail*
      %br/
      = f.text_field :email
    .field
      %b Senha*
      %br/
      = f.password_field :plain_password
    .field
      %b CNPJ*
      %br/
      = f.text_field :cnpj
    .field
      %b CEP*
      %br/
      = f.text_field :zip_code
    .field
      %b Endereço*
      %br/
      = f.text_field :address
    .field
      %b Numero*
      %br/
      = f.text_field :number
    .field
      %b Bairro*
      %br/
      = f.text_field :district
    .field
      %b Estado*
      %br/
      = f.text_field :state
    .field
      %b Cidade*
      %br/
      = f.text_field :city
    .field
      %b Telefone*
      %br/
      = f.text_field :telephone
    .field
      = render partial: 'shared/image_field', locals: { f: f }
    %br
    .actions
      = f.submit 'Cadastrar'
    %br
    = link_to 'Voltar', '/shoes'