.container
  #name_page
    = render partial: 'categories', collection: @categories
  #menu_left
    #title
      Empresas
    %h3
      = render partial: 'enterprises', collection: @enterprises
    = render "menu2"
  #releases    
    %h1 Lançamentos
    #center_style
      #mini_shoes
        = render partial: 'releases', collection: @releases
  #bestsellers
    %h1 Mais vendidos
    #center_style 
      #mini_shoes
        = render partial: 'bestsellers', collection: @bestsellers
  #content_all
    %h1 Produtos cadastrados
    #mini_shoes
      = render partial: 'mini_shoe', collection: @shoes
  #end
#end
%hr
%a{href: 'login'} Administrador