#content
  #menu_left
    %h2
      %li Empresas
    - for enterprise in @enterprises
      %li
        = link_to enterprise.name, "/enterprise/#{enterprise.id}"
  #realeases      
    %h1 Lançamentos
    #mini_shoes{style: "margin-left: 20px"}
      = render partial: 'releases', collection: @releases
  #content1
    %h1 Produtos cadastrados
    #mini_shoes
      = render partial: 'mini_shoe', collection: @shoes
  #end
  #bestsellers
    %h1 Mais vendidos
    #mini_shoes{style: "margin-left:20px"}
      = render partial: 'bestsellers', collection: @bestsellers
#end
%hr
%a{href: 'login'} Administrador