.container
  #name_page
    = render partial: 'categories', collection: @categories
  %br/
  %h1
    Detalhe do Pedido
  #form
    %p
      %b Código do pedido:
      = @orders.id
      %br/
      %br/
      %b Data:
      = (@orders.created_at.to_formatted_s(:short))
      %br/
      %br/
      %b Nome do produto:
      = @orders.shoe.name
      %br/
      %br/
      %b Código do produto:
      = @orders.id
      %br/
      %br/
      %b Empresa:
      = @orders.shoe.enterprise.name
      %br/
  %hr
  #form
    %h2= link_to 'voltar', '/myorders'