%section#shoe_detail
  %h1
    Item Details
#enterprise_logo
  = image_tag(@shoe.enterprise.image,:width => 150,:height=>150)
%p#enterprise_info
  Enterprise:
  = @shoe.enterprise.name
  %br/
  Email:
  = @shoe.enterprise.email
  %br/
  City:
  = @shoe.enterprise.city
  %br/
  State:
  = @shoe.enterprise.state
  %br/
  Address:
  = @shoe.enterprise.address
  ,
  = @shoe.enterprise.number
  %br/
  District:
  = @shoe.enterprise.district
  %br/
  Telephone:
  = @shoe.enterprise.telephone
  %br
%div#clear
  %hr
  #shoes
    = @shoe.name
  %h2
    = link_to @shoe.enterprise.name, "/enterprise/#{@shoe.enterprise.id}"
    %ul
      = image_tag(@shoe.image,:height=>300)
    = simple_format(@shoe.description)
  %br/
  %span.shoe_value= number_to_currency(@shoe.value)
  %br/
  - if @shoe.sold_out?
    %p
    %h4.sold_out Esgotado!
  - else
    %p
    = link_to "Order", "/buy/#{@shoe.id}", :class=>"buy_shoe", :method=> :post
    %end
%div#clear