%section#shoe_detail
  %h1
    Item Details
  = image_tag(@shoe.enterprise.image,:height=>150)
  %div
  %br
    Name:
    = @shoe.enterprise.name
  %br
    City:
    = @shoe.enterprise.city
  %br
    State:
    = @shoe.enterprise.state
  %br
    Address:
    = @shoe.enterprise.address
    ,
    = @shoe.enterprise.number 
  %h2
    = @shoe.name
    = link_to @shoe.enterprise.name, "/enterprise/#{@shoe.enterprise.id}"
    %ul
      = image_tag(@shoe.image,:height=>300)
    = simple_format(@shoe.description)
  %br/
  %span.shoe_value= number_to_currency(@shoe.value)
  %br/
  - if @shoe.sold_out?
    %p
    %h4.sold_out Esgotado!
  - else
    %p
    = link_to "Order", "/buy/#{@shoe.id}", :class=>"buy_shoe", :method=> :post
    %end
%div#clear