.container
  #name_page
    Lista de clientes
  %br/
  %br/
  %table.tables
    %thead
      %tr
        %th Nome
        %th E-mail
        %th CPF
        %th Detalhes?
        %th Editar?
        %th Apagar?
    %tbody
      - @clients.each do |client|
        %tr
          %td= client.name
          %td= client.email
          %td= client.cpf
          %td= link_to 'Detalhes', client
          %td= link_to 'Editar', edit_client_path(client)
          %td= link_to 'Apagar', client, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }
  #form
    %h2= link_to 'Novo cliente', new_client_path
  %br/