%div{ style: "color:black; font-family: arial; background-color: #fff;border: 2px solid #000;" }
  %h1{ style: "color:black; background-color:#104E8B; text-align:center; font-size:24pt; height:40px; margin-top:5px;" } - Catalog Footwear -
  %hr
  %h2{ style: "font-size:16pt; " }
    Nós recebemos uma encomenda para sua empresa!
  %p
    Olá, foi feita uma solicitação de pedido com produtos de sua empresa.
  %p
    Os itens solicitados foram:
    %ul
      - for item in @items
        %li
          = item.shoe.name
          \- #{number_to_currency(item.value)}
          Código do produto:
          = item.shoe.id
          %table
            %th
              %td
                = image_tag("http://localhost:3000#{item.shoe.image}",height: 200)
        %hr
  