%h1 - Catalog Footwear -
%h2
  We received your request!
%p
  Hello!
%p
  Your request was received in our system. Write down the number:
  %strong= @order.id
%p
  The ordered items were:
%ul
  - for item in @order.order_items
    / - if item.value > 101 
    %li
      = item.shoe.name
      \- #{number_to_currency(item.value)}
      Code:
      = item.shoe.id
    = image_tag(item.shoe.image,:height=>200)
%p
  Thank you for using Catalog Footwear