%h1 Lista de Empresas
%table{:align => "center"}
  %tr
    %th Nome
    %th Nome Social
    %th E-mail
    /%th Senha
    %th CNPJ
    %th zip_code
    %th Address
    %th Number
    %th District
    %th State
    %th City
    %th Telephone
    %th Permit
    %th{:colspan => "3"} Opções
  - @enterprises.each do |enterprise|
    %tr
      %td= enterprise.name
      %td= enterprise.name_social
      %td= enterprise.email
      /%td= enterprise.password
      %td= enterprise.cnpj
      %td= enterprise.zip_code
      %td= enterprise.address
      %td= enterprise.number
      %td= enterprise.district
      %td= enterprise.state
      %td= enterprise.city
      %td= enterprise.telephone
      %th= enterprise.permit
      %td= link_to 'Mostrar', enterprise
      %td= link_to 'Editar', edit_enterprise_path(enterprise)
      %td= link_to 'Apagar', enterprise, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }
  %hr
%hr
%h2= link_to 'New Enterprise', new_enterprise_path