%h1 Lista de Empresas
%table{:align => 'center'}
  %tr
    %th Nome
    %th Nome Social
    %th E-mail
    %th CNPJ
    %th CEP
    %th Endereço
    %th Numero
    %th Bairro
    %th Estado
    %th Cidade
    %th Telefone
    %th{:colspan => '3'} Opções
  - @enterprises.each do |enterprise|
    %tr
      %td= enterprise.name
      %td= enterprise.name_social
      %td= enterprise.email
      %td= enterprise.cnpj
      %td= enterprise.zip_code
      %td= enterprise.address
      %td= enterprise.number
      %td= enterprise.district
      %td= enterprise.state
      %td= enterprise.city
      %td= enterprise.telephone
      %td= link_to 'Detalhes', enterprise
      %td= link_to 'Editar', edit_enterprise_path(enterprise)
      %td= link_to 'Apagar', enterprise, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }
  %hr
%hr
%h2= link_to 'Nova Empresa', new_enterprise_path