.container
  #name_page
    Lista de Empresas
  %br/
  %br/
  %table.tables
    %thead
      %tr
        %th Nome
        %th Nome Social
        %th E-mail
        %th Permição
        %th Detalhes?
        %th Editar?
        %th Apagar?
    %tbody
      - @enterprises.each do |enterprise|
      - presenter = EnterprisePresenter.new(enterprise)
        %tr
          %td= enterprise.name
          %td= enterprise.name_social
          %td= enterprise.email
          %td= presenter.permit
          %td= link_to 'Detalhes', enterprise
          %td= link_to 'Editar', edit_enterprise_path(enterprise)
          %td= link_to 'Apagar', enterprise, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' }
  %br/
  #form
    %h2= link_to 'Nova Empresa', new_enterprise_path