<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @enterprise.name %>
</p>

<p>
  <b>Name social:</b>
  <%= @enterprise.name_social %>
</p>

<p>
  <b>Email:</b>
  <%= @enterprise.email %>
</p>

<p>
  <b>Password:</b>
  <%= @enterprise.password %>
</p>

<p>
  <b>Cnpj:</b>
  <%= @enterprise.cnpj %>
</p>

<p>
  <b>zip_code</b>
  <%= @enterprise.zip_code %>
</p>

<p>
  <b>Address:</b>
  <%= @enterprise.address %>
</p>

<p>
  <b>Number:</b>
  <%= @enterprise.number %>
</p>

<p>
  <b>District:</b>
  <%= @enterprise.district %>
</p>

<p>
  <b>State:</b>
  <%= @enterprise.state %>
</p>

<p>
  <b>City:</b>
  <%= @enterprise.city %>
</p>

<p>
  <b>Telephone:</b>
  <%= @enterprise.telephone %>
</p>


<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
