%h1 Detalhes da Empresa
%p#notice= notice
%p
  %img{:src => @enterprise.image}
%p
  %b Nome:
  = @enterprise.name
%p
  %b Nome social:
  = @enterprise.name_social
%p
  %b E-mail:
  = @enterprise.email
%p
  %b Senha:
  = @enterprise.password
%p
  %b CNPJ:
  = @enterprise.cnpj
%p
  %b CEP:
  = @enterprise.zip_code
%p
  %b Endereço:
  = @enterprise.address
%p
  %b Numero:
  = @enterprise.number
%p
  %b Bairro:
  = @enterprise.district
%p
  %b Estado:
  = @enterprise.state
%p
  %b Cidade:
  = @enterprise.city
%p
  %b Telefone:
  = @enterprise.telephone
%br/
= link_to 'Editar', edit_enterprise_path(@enterprise)
|
\#{link_to 'Voltar', enterprises_path}