#form
  = form_for(@shoe, :html=>{:multipart=>true}) do |f|
    - if @shoe.errors.any?
      #error_explanation
        %h2
          = pluralize(@shoe.errors.count, 'erro')
          este produto não pode ser salvo:
        %ul
          - @shoe.errors.full_messages.each do |msg|
            %li= msg
    .field
      %b Informações obrigatórias*
    %br/
    %br/
    .field
      %b Nome*
      %br/
      = f.text_field :name
      %br/
    .field
      %b Valor*
      %br/
      = f.text_field :value 
    %br/
    .field
      %b Público Alvo*
      %br/
      %td= f.select :category_id, @categories.map {|c| [c.name,c.id]}
    %br/
    .field
      %b Estoque*
      %br/
      = f.number_field :stock, in: 1...1000
    %br/
    .field
      %b Data de registro
      %br
      = f.date_select :registed,start_year: Date.today.year, end_year: Date.today.year
      %br/
      %br/
      %b Descrição*
      %br/
      = f.text_area :description, size: "40x10"
      %br/
    %br/
    -if session[:admin]
      = f.label 'Permissão'
      %br/
      = f.check_box :permit, {:checked=>true}
    .field
      = render partial: 'shared/image_field', locals: { f: f }
    %br/
    .actions
      = f.submit 'Cadastrar',class: 'submit'
      %br/
      %br/
    = link_to 'Voltar', '/shoes'