.container
  /= session[:admin]
  - if @enterprise
    //%h2= @enterprise.name
  #name_page
    Lista de Produtos
  %table.tables
    %thead
      %br
      %tr
        %th Nome
        %th Preço
        %th Empresa
        %th Categoria
        %th Estoque
        %th Data
        %th Permissão
        %th Detalhes?
        %th Editar?
        %th Apagar?
    %tbody     
      - @shoes.each do |shoe|
      - presenter = ShoePresenter.new(shoe)
        %tr
          %td= shoe.name
          %td= shoe.value
          %td= shoe.enterprise.name
          %td= shoe.category.name
          %td= shoe.stock
          %td= shoe.registed
          %td= presenter.permit
          %td= link_to 'Detalhes', shoe
          %td= link_to 'Editar', edit_shoe_path(shoe)
          %td= link_to 'Apagar', shoe, method: :delete, data: { confirm: 'Tem certeza?' }
  %br/
  %br/
  #form
    - if !session[:admin]
      %h2= link_to 'Novo produto', new_shoe_path