/= session[:admin]
- if @enterprise
  /%h2= @enterprise.name
%h1 Lista de Produtos
%table{:align => "center"}
  %tr
    %th Nome
    %th Preço
    %th Empresa
    %th Publico
    %th Estoque
    %th Data
    %th Descrição
    %th{:colspan => "3"} Opções
  - @shoes.each do |shoe|
    %tr
      %td= shoe.name
      %td= shoe.value
      %td= shoe.enterprise_id
      %td= shoe.audience
      %td= shoe.stock
      %td= shoe.registed
      %td= shoe.description
      %td= link_to 'Mostrar', shoe
      %td= link_to 'Editar', edit_shoe_path(shoe)
      %td= link_to 'Apagar', shoe, method: :delete, data: { confirm: 'Tem certeza?' }
  %hr
%hr
  - if !session[:admin]
    %h2= link_to 'Novo produto', new_shoe_path