/= session[:admin]
- if @enterprise
  /%h2= @enterprise.name
%h1 Listing shoes
%table{:align => "center"}
  %tr
    %th Name
    %th Value
    %th Enterprise
    %th Audience
    %th Stock
    %th Registed
    %th Description
  - @shoes.each do |shoe|
    %tr
      %td= shoe.name
      %td= shoe.value
      %td= shoe.enterprise_id
      %td= shoe.audience
      %td= shoe.stock
      %td= shoe.registed
      %td= shoe.description
      %td= link_to 'Show', shoe
      %td= link_to 'Edit', edit_shoe_path(shoe)
      %td= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' }
  %hr
%hr
  - if !session[:admin]
    %h2= link_to 'New Shoe', new_shoe_path