%section#shoe_detail
  %h1 Detalhes do Produto
%p#notice= notice
%p
  %img{:src => @shoe.image}
%p
  %b Nome:
  = @shoe.name
%p
  %b Preço:
  = @shoe.value
%p
  %b Empresa:
  = @shoe.enterprise_id
%p
  %b Publico Alvo:
  = @shoe.audience
%p
  %b Estoque:
  = @shoe.stock
%p
  %b Data de registro:
  = @shoe.registed
%p
  %b Descrição:
  = @shoe.description
%p
  %b Permição:
  = @shoe.permit
= link_to 'Editar', edit_shoe_path(@shoe)
|
\#{link_to 'Voltar', shoes_path}