<!DOCTYPE html>
<html>
<head>
  <title>-Footwear- Home Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<ul>
		<li><%= link_to "Home", "/" %></li>
		<li><%= link_to "Exit", logout_path %></li>_
	</ul>
</header>
<%= yield %>

<footer>
	OI, AQUI É O LAYOUT LOGADO
</footer>

</body>
</html>
