!!!
%html
  %head
    %title -Footwear
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      #menu_top
        #logo
          = link_to (image_tag("logo.png",height: 120, weight: 120)),'/', class: 'logo'
        #cart2
          = link_to (image_tag 'meu_carrinho.png'), 'cart', class: 'cart'
        #buttons
          = link_to "Início", '/'
          = link_to 'Editar dados', '/editar_cliente'
          = link_to 'Meus pedidos', '/myorders'
        #search
          = render 'layouts/search'
        #message  
          Bem vindo, #{session[:name]}!
          = link_to 'Sair', logout_client_path
    .faixa1
    .faixa2
    = yield
    .faixa3
    .faixa4
    %footer
      %b Email:
      catalog_footwear@gmail.com
      %br/
      %b Desenvolvedor: Diego Oliveira