!!!
%html
  %head
    %title -Footwear- Home
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %header
      %h1 -CATALOG FOOTWEAR-
      <img src="app/assets/images/startup.png" />
      %h3
        Welcome: #{session[:email]}
        = link_to "My cart", "cart"
      %ul
        %li
          = link_to "Home", "/"
          = link_to "Register", "register"
          = link_to "Register Enterprise", "register_enterprise"
          = link_to "Exit", "logout_client"
      = yield
      %hr
      %footer
        %h2 Advertise Your shoes here!
        %hr/