!!!
%html
  %head
    %title -Footwear- Login Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %header
      %h1 -CATALOG FOOTWEAR-
      <img src="app/assets/images/startup.png" />
      %h3
        Welcome: #{session[:name]}
        = link_to "Exit", "logout_user"
        = link_to "Exit c", "logout_client"
        = link_to "Home", "/"
        = link_to "Shoes", "/shoes"
      = yield
      %hr
      %footer
        %h2 Advertise Your shoes here!
        %hr/