!!!
%html
  %head
    %title -Footwear- Login Admin
    = stylesheet_link_tag    'publics', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      #menu_top
        = link_to 'Início', '/'
        = link_to 'Meus Produtos', '/shoes'
        = link_to 'Editar dados', 'editar_empresa'
      #name_page
        %h1 CATALOG FOOTWEAR
      #message  
        Bem vindo, #{session[:name]}!
        = link_to 'Sair', 'logout_user'
    = yield
    %hr
    %footer
      ANUNCIE JÁ SUA EMPRESA E DIVULGUE SUA MARCA PARA O MUNDO