!!!
%html
  %head
    %title -Footwear-
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      #menu_top
        = link_to "Início", '/'
        = link_to 'Quero comprar', 'register'
        = link_to 'Quero vender', 'register_enterprise'
        = link_to 'Sou Cliente', 'login_client'
        = link_to 'Sou Empresa', 'login_user'
        = link_to 'Carrinho', 'cart',class: 'cart'
      #name_page
        %h1
          CATALOG FOOTWEAR
    = yield
    %hr
    %footer
      ANÚNCIE JÁ SUA EMPRESA E DIVULGUE SUA MARCA PARA O MUNDO 