!!!
%html
  %head
    %title -Footwear
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      #menu_top
        #logo
          = link_to (image_tag("logo.png",height: 120, weight: 120)),'/', class: 'logo'
        #buttons
          = link_to "Início", '/'
          = link_to 'Quero comprar','register'
          = link_to 'Quero vender','register_enterprise'
        .login
          = link_to 'Sou Cliente ','login_client'
          \
          = link_to 'Sou Empresa','login_user'
        #search
          = render 'layouts/search'
        #cart1
          = link_to (image_tag 'meu_carrinho.png'), 'cart', class: 'cart'
    .faixa1
    .faixa2
    = yield
    .faixa3
    .faixa4
    %footer
      %b Email:
      catalog_footwear@gmail.com
      %br/
      %i Desenvolvedor: Diego Oliveira