!!!
%html
  %head
    %title -Footwear- Home
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %header
      <img src="app/assets/images/startup.png" />
      %h1 -CATALOG FOOTWEAR-
    %end
    %body
      %h3
        Welcome!
        = link_to "Register", "register"
        = link_to "Register Enterprise", "register_enterprise"
      %h3
        = link_to "Home", "/"
        = link_to "I am customer", "login_client"
        = link_to "I am seller", "login_user"
        = link_to "My cart", "cart"
      = yield
      %hr
      %footer
        %h2 Advertise Your shoes here!
        %hr/


      