!!!
%html
  %head
    %title -Footwear- Login Admin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Footwear
    %nav
      /%h3 Welcome: #{session[:name]}
      %ul
        %li= link_to "Home", "/"
        %li= link_to "Exit", "logout_user"
      = yield
      %footer
        %h2 Advertise Your shoes here!


      