!!!
%html
  %head
    %title -Footwear- Home
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %header
      %h1 -CATALOG FOOTWEAR-
    %end
    %body
      %h3
        //%img{:width => 100, :height => 100,:src =>"startup.jpg"}
        Welcome #{session[:email]}
        = link_to "Exit", "logout_client"
        = link_to "Register", "register"
        = link_to "Register Enterprise", "register_enterprise"
      #menu_sub
        = link_to "Home", "/"
        = link_to "I am customer", "login_client"
        = link_to "I am seller", "login_user"
        = link_to "My cart", "cart"
      %div#clear
      = yield
      %hr
      %footer
        %h2 Advertise Your shoes here!
        %hr/


      